<html>
<head>
   <title>Login</title>
</head>
<body>
  <h1 align="center"><font color="#000080">Login Details</font></h2>
  <form>
  <table border="0" align="center">
  <tr>
    <td><label><b>User Name:<b></label></td>
    <td><input type="text" name="uname"></input></td>
  </tr>
  <tr>
    <td><label><b>Password:<b></label></td>
    <td><input type="password" name="pwd"></input></td>
  </tr><br/>
  <tr>
    <td></td>
    <td></td>
  </tr>
   <tr>
    <td></td>
    <td></td>
  </tr>
   <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
   
    <td  colspan="2" align="center"><input type="submit" name="submit"></input></td>
   
  </tr>
  </table>
</form>
</body>
</html>
   
  

